body {
    width: 100%;
    height: 100%;
    top: -49px;
	left: -14px;
	overflow-x: hidden;
	overflow-y: hidden;
    position: absolute;
	background-color: white;
}
.mainview {
	visibility: visible;
}
.acview {
    position: absolute;
    top: 521px;
    left: 70px;
    background-color: white;
    visibility: visible;
}
.blinkercontainer {
	position:absolute;
	top: 302px;
	left: 110px;
	width: 200px;
	height: 100px;
	visibility: hidden;
}
.blinkerinfo {
    position: relative;
    top: 219px;
    width: 668px;
    left: 0px;
	text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
	text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 4px;
    border-color: gray;
    background-color: red;
    color: white;
    opacity: 1;
    z-index: 20;
}
.blinker {
    position: relative;
    top: 0px;
    width: 268px;
    left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
	border: 1px solid black;
    border-radius: 4px;
    border-color: gray;
    background-color: red;
    color: white;
    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
    z-index: 20;
}
@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}
.dot {
	height:10px;
	width:10px;
	border-radius:50%;
	position:absolute;
	border:thin solid #000000;
	border-width: thin
}
.cog {
	top: "0px;";
	left: "0px";
	height: auto;
	width: auto;
	position: relative;
}
.accog {
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
	text-align: center;
    color: black;
    position: absolute;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    top: 389px;
    width: 88px;
    height: 19px;
    left: 180px;
}
.accoglabel {
	font-size: large;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	position: absolute;
	padding: 5px;;
	top: 390px;
	left: 44px;
}
.cgrectangle {
    position: absolute;
    top: 117px;
    left: 428px;
    width: 56px;
    height: 164px;
}
.chart {
    top: -2px;
    left: 0px;
    height: 360px;
    width: 370px;
    position: absolute;
}
.container {
	height: 450px;
	width: 370px;
	position: absolute;
	left: 60px;
	top:136px;
}
.weightHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	text-decoration: underline;
}
.questions {
	position: absolute;
	left: 350px;
	top: 125px;
}
.backgroundImage {
	height: 450px;
	width: 370px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.nosegearLimit {
	font-family: Arial, Helvetica, sans-serif;
	font-size:x-small;
	position: absolute;
	top: 69px;
	left: -3px;
	rotate: -47.2deg;
}
.weightMin {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 10px;
    text-align: left;
    top: 354px;
    left: -34px;
}
.weightNosegearMin {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	font-size:10px;
	text-align: left;
	top: 136px;
	left:-35px;
}
.weightMaxFloats {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 10px;
    text-align: left;
    color: red;
    top: -76px;
    left: -35px;
}
.weightMaxGross {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	font-size: 10px;
	text-align: left;
	top: -6px;
	left:-35px;
}
.maxGrossDashes {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    font-size: 11px;
    text-align: left;
    top: -6px;
    left: -8px;
}
.maxFloatsDashes {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    font-size: 11px;
    text-align: left;
    top: -76px;
    color: red;
    left: -7px;
}
.momentMinImperial {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	font-size: x-small;
	text-align: right;
	top: 364px;
	left:-2px;
}
.momentMaxImperial {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	font-size: x-small;
	text-align: left;
	top: 362px;
	left:345px;
}
.momentMinMetric {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	font-size: x-small;
	text-align: right;
	top: 364px;
	left:-2px;
	/* rotate: -90deg; */
}
.momentMaxMetric {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	font-size: x-small;
	text-align: left;
	top: 362px;
	left:345px;
	/* rotate: -90deg; */
}
.weightAxisMetric {
    font-family: courier new, courier, monospace;
    font-size: 11px;
    rotate: -90deg;
    position: absolute;
    top: 235px;
    left: -67px;
}
.weightAxisImperial {
	font-family: 'Courier New', Courier;
	font-size:11px;
	rotate: -90deg;
	position: absolute;
	top: 225px;
	left: -55px;
}
.momentAxis {
    font-family: 'Courier New', Courier, monospace;
	font-size: 11px;
	position: absolute;
	top: 364px;
	left: 75px;
}
.weight {
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	width:60px;
}
.arm {
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	width:60px;
}
.moment {
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	width:60px;
}
.sublabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size:x-small;
	width:20px;
}
.fuel {
	position: absolute;
	top:auto;
}
.fuelUnitLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	text-align: right;
}
.fuelUnits {
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	width: 16px;
}
.fuelWeight {
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	width: 33px;
}
.fuelArm {
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	width: 60px;
}
.fuelMoment {
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	width: 60px;
}
.cgTotals {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: bold;
	width: 60px;
}
.coords {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	text-align: center;
	width: 66px;
}
.weightLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	width: 200px;
	/* display: inline-block; */
	text-align: right;
}
.finalCogLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	text-align: right;
}
.smallCogLabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size:x-small;
	text-align: left;
	width:20px;
}
.underline {
	position: absolute;
	left: 96px;
}

.buttonContainer {
	position: absolute;
	height: 35px;
	width:360px;
	left: 258px;
	top: 65px;
}
.printButton {
	font-family: Arial, Helvetica, sans-serif;
    font-size: normal;
    text-align: center;
    vertical-align: middle;
    border: 1px solid darkgray;
    border-radius: 4px;
    border-color: gray;
    position: relative;
    background-color: lightgray;
    color: black;
    height: 30px;
    width: 100px;
    top: 0px;
    left: 235px;
}
.saveButton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: normal;
    text-align: center;
    vertical-align: middle;
    border: 1px solid darkgray;
    border-radius: 4px;
    border-color: gray;
    position: relative;
    background-color: lightgray;
    color: black;
    height: 30px;
    width: 100px;
    top: 0px;
    left: 237px;
}
.exitButton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: normal;
    text-align: center;
    vertical-align: middle;
    border: 1px solid darkgray;
    border-radius: 4px;
    border-color: gray;
    position: relative;
    background-color: lightgray;
    color: black;
    height: 30px;
    width: 100px;
    top: 0px;
    left: 240px;
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
@media (prefers-color-scheme: dark) {
	body { background: black; color: white; }
	#acview { background-color: black; }
} 
@media (prefers-color-scheme: light) {
	body { background: white; color: black; }
	#acview { background-color: white; }
}
@media print {
	#buttonContainer {
		display: none;
	}
	/* #saveButton {
	    display: none;
	}
	#showAcButton {
		display: none;
	} */
}

